<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcIvB4F5Q1eBS0t8CMflEKb4w1J1Z18EA</string>
	<key>GCM_SENDER_ID</key>
	<string>556136750301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minimalEcom</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-96765</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-96765.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556136750301:ios:9600246ddb855909a44f34</string>
</dict>
</plist>